body{
    margin: 0;
}

a{text-decoration: none;}

.header{
    width: auto;
    height: 15em;
    background-color: black;
}
.header div{
    width: 50em;
    height: 15em;
    margin: auto;
    padding: 1em;
}

.title, .description{
    color: white;
}

.page{
    width: 50em;
    height: auto;
    margin: auto;
}

.article-title,
.continue-reading{
    text-decoration: none;
    color: blue;
}

.footer{
    width: auto;
    height: auto;
}
.footer div{
    width: 50em;
    height: auto;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
}

.navigation{
    width: auto;
    height: 1.7em;
    background-color: gray;
}
.navigation div{
    width: 50em;
    height: 1.7em;
    margin: 0 auto;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0.5em;
}